.abilityType-editor {
  .abilityTypes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
  }
  .abilityType-instance {
    position: relative;
    min-width: 14rem;
    font-size: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    background: #111112;
    color: white;
    padding: 0 1rem;
    border-radius: 7px;
    box-shadow: 1px 2px 20px 0px rgba(11, 11, 11, 0.7);
    border: 0.5px solid #505050;

    background: linear-gradient(45deg, #39393c 0%, #292930 100%),
      radial-gradient(at top center, #46464680 0%, rgba(0, 0, 0, 0.4) 120%)
        #989898;
    display: flex;
    align-items: center;

    .color {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: 0.5rem;
      margin: 1rem;
    }

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        color: var(--dangerColor);
        background: transparent;
        margin-right: -1rem;
      }
    }

    .bottom {
      width: 100%;
      text-align: left;
      padding-bottom: 1rem;
    }
  }

  .id {
    font-size: 16px;
  }

  .name {
    font-size: 20px;
    font-weight: 500;
    color: #ddd;
  }

  .new-button {
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    font-size: 1rem;
    gap: 2rem;
    display: flex;
    min-width: 14rem;
    max-width: 20rem;
    text-align: left;
    background: #0e0e0f;
    color: white;
    padding: 0 1rem;
    border-radius: 7px;
    box-shadow: inset 1px 2px 20px 0px rgba(11, 11, 11, 0.7);
    border: 0.5px solid #202020;

    font-size: 1.5em;
    color: #aaa;

    &:hover {
      color: #fff;
    }
  }
}
