.pill-select {
  text-align: left;
}

.pills {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.selected-only {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.label {
    color: --var(--mutedText);
    font-size: 20px;
    margin-bottom: 1rem;
}

.pill {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-items: space-between;
  border-radius: 24px;
  background-color: var(--panelColor2);
  font-weight: 400;

  &.selected {
    background-color: var(--themeColor);
    color: var(--panelColor);
  }
}
