.ability-card {
  padding: 0;
  font-size: 1rem;
  display: flex;
  max-width: 20rem;
  flex-direction: column;
  text-align: left;
  background: #111112;
  color: #ddd;
  border-radius: 7px;
  box-shadow: 1px 2px 20px 0px rgba(11, 11, 11, 0.7);
  border: 0.5px solid #505050;

  background: linear-gradient(45deg, #39393c 0%, #292930 100%),
    radial-gradient(at top center, #46464680 0%, rgba(0, 0, 0, 0.4) 120%)
      #989898;
  .collapsible-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name {
    display: flex;
    align-items: flex-start;

    gap: 0.5rem;
    padding-left: 0.5rem;

    button {
      background-color: transparent;

      .chevron svg {
        color: var(--themeColorText);
      }

      padding-right: 1rem;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: space-between;
      flex: 2;

      .dots {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-right: 1rem;
      }

      .dot {
        min-width: 0.5rem;
        min-height: 0.5rem;
        display: inline-flex;
        border-radius: 100%;
        opacity: 0.6;
        box-shadow: var(--boxShadowBlackSmall);
      }
    }

    button.edit {
      color: #aaa;
      padding: 0.5rem;
      margin-left: -1rem;
      margin-right: 1rem;
    }
    .card-title {
      color: #ddd;
      text-align: left;
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      font-size: 1.5em;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 1rem;
    }

    input {
      text-align: left;
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      font-size: 1.5em;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 1rem;
    }
  }

  .tags {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }

  .description,
  .description textarea {
    margin: 0.5rem 0;
    color: #c5c5c5;
    white-space: pre-line;
    font-size: 1em;
    line-height: 1.5em;
    width: 100%;
    padding: 1rem;
    // border-top: 1px solid var(--superMutedWhite);
    // border-bottom: 1px solid var(--superMutedWhite);
    // background: rgba(26, 25, 24, 0.45);
  }

  @media only screen and (max-width: 800px) {
    font-size: 0.75rem;
    padding: 1em;
  }

  button.delete-tag {
    padding: 0.25rem 0.5rem;
    background: none;
    margin-left: 0.25rem;
    margin-right: -0.5rem;
  }

  .title {
    font-size: 18px;
    color: #ddd;
  }

  .replaces {
    padding: 0 1rem;
    color: var(--infoColor);
    font-weight: 300;

    span {
      font-weight: 500;
    }
  }
}
