.param-editor {
  .param-line {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
    input {
      max-width: 10rem;
    }
  }
  .add-button {
    text-align: left;
    padding: 1rem 0;
  }

  .param-input {
    border: 1px solid var(--supermutedText);
    box-shadow: var(--boxShadowInsetBlackSmall);
  }
}
