.ability-card {
  padding: 2rem;
  .collapsible-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name {
    display: flex;
    align-items: center;
    button {
      background-color: transparent;
    }
    button.edit {
      color: #aaa;
      padding: 0.5rem;
      margin-left: -1rem;
      margin-right: 1rem;
    }
    .card-title,
    input {
      text-align: left;
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      font-size: 1.5em;
      margin-bottom: 1rem;
      padding-top: 0.5rem;
    }
  }

  .id.form-control input {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #808080;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }

  .description,
  .description textarea {
    color: #c5c5c5;
    white-space: pre-line;
    font-size: 1em;
    line-height: 1.5em;
    width: 100%;
  }

  font-size: 1rem;
  display: flex;
  max-width: 20rem;
  flex-direction: column;
  text-align: left;
  background: #111112;
  color: white;
  padding: 0 1rem;
  border-radius: 7px;
  box-shadow: 1px 2px 20px 0px rgba(11, 11, 11, 0.7);
  border: 0.5px solid #505050;

  background: linear-gradient(45deg, #39393c 0%, #292930 100%),
    radial-gradient(at top center, #46464680 0%, rgba(0, 0, 0, 0.4) 120%)
      #989898;

  @media only screen and (max-width: 800px) {
    font-size: 0.75rem;
    padding: 1em;
  }

  button.delete-tag {
    padding: 0.25rem 0.5rem;
    background: none;
    margin-left: 0.25rem;
    margin-right: -0.5rem;
  }

  .title {
    font-size: 18px;
    color: #ddd;
  }

  .tag-select {
    color: #222;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    button {
      padding: 0.1rem 0.25rem;
      border-radius: 8px;
      margin-left: 0.5rem;
    }

    .add-tag {
      justify-content: space-between;
      background: var(--themeColor);
      display: inline-flex;
      padding: 0.5rem 1rem;
      border-radius: 7px;
      font-size: 14px;
      align-items: center;

      gap: 1rem;
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    
    button {
      background: #476dc8;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      color: rgb(198, 163, 255);
      border: 2px solid rgb(198, 163, 255);
      border-radius: 7px;

      &.green {
        color: var(--successColor);
        border-color: var(--successColor);
      }

      &.red {
        border-color: var(--dangerColor);
        color: var(--dangerColor);
      }
    }
  }
}
