.ability-card.editable {
  .title {
    width: 100%;
    color: var(--infoColor);
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    border-bottom: 1px solid var(--superMutedWhite);
  }
  .replaces {
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
    display: flex;

    .ability-select {
      flex: 2;
    }
  }

  .tags,
  .params {
    padding: 1rem;
  }
  .id {
    padding: 0 1rem;
  }
  .id.form-control input {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #808080;
  }

  .buttons {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }
}
