.fancy-text-input {
  .hidden-text {
    font-size: inherit !important;
    position: absolute;
    opacity: 0;
    z-index: -100;
    white-space: pre;
  }

  input,
  span {
    color: inherit;
    font-weight: inherit;
    font-size: inherit !important;
    padding: 0.25rem;

    &.unsavedData {
      border: 2px solid var(--dangerColor);
    }
  }
}
