.character-sheet {
  @media only screen and (max-width: 800px) {
    width: auto;
  }

  overflow-y: auto;
  text-align: left;

  .stats {
    padding: 2rem;

    .title {
      padding-bottom: 2rem;
    }
  }

  .abilities {
    padding-bottom: 5rem;
    .title {
      padding-left: 2rem;
      padding-bottom: 1rem;
    }

    .expand-button {
      display: flex;
      justify-content: flex-end;
      padding: 2rem;
      padding-top: 0;
    }

    .container {
      background: var(--containerShadow);
    }
  }

  .ability-cards {
    padding: 1rem;
  }

  .title {
    color: var(--infoColor);
    font-size: 2em;
    font-weight: 300;
  }
}
