.character-sheet {
  width: 40rem;

  @media only screen and (max-width: 800px) {
    width: auto;
  }

  h2 {
    margin-top: 0;
  }
  overflow-y: auto;
  text-align: left;

  .abilities {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-bottom: 5rem;
  }

  .ability-cards {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @media only screen and (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    padding: 1rem 0;
  }
}
