.character-sheet {
  @media only screen and (max-width: 800px) {
    width: auto;
  }

  overflow-y: auto;
  text-align: left;

  .stats {
    padding: 2rem;

    .title {
      padding-bottom: 2rem;
    }
  }

  .abilities {
    padding-bottom: 5rem;

    .expand-button {
      display: flex;
      justify-content: flex-end;
      padding: 2rem;
      padding-top: 0;
    }

    .container {
      background: linear-gradient(45deg, #1b1b1c 0%, #1a1a1c 100%),
        radial-gradient(
            at top center,
            rgb(76 76 76 / 49%) 0%,
            rgba(0, 0, 0, 0.4) 120%
          )
          #989898;
    }
  }

  .ability-cards {
    padding: 1rem;
  }

  .title {
    font-size: 2em;
    font-weight: 300;
  }
}
