.cost-panel {
  font-size: 1.5em;
  display: flex;

  align-content: center;
  justify-content: center;

  .levels {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5rem;
  }

  .level-points {
    display: inline-flex;

    min-width: 2.25rem;
    min-height: 2rem;
    height: 2rem;
    height: 2rem;

    color: var(--panelColor);
    border: none;
    background: transparent;

    .level-dot {
      user-select: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 1.5rem;
      width: 1.5rem;

      font-size: 14px;
      font-weight: 700;
      border-radius: 100%;
    }
  }

  button {
    padding: 0;
    background-color: transparent;
  }
}
