.cost-panel {
  font-size: 1.5em;
  max-width: 18rem;
  display: flex;

  align-content: center;
  justify-content: center;

  .levels {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0 0.5rem;
  }

  .level-points {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    min-height: 1.5rem;
    height: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;

    font-size: 14px;
    font-weight: 600;
    color: var(--panelColor);
    border: none;
    background: transparent;
  }

  button {
    padding: 0;
    background-color: transparent;
  }
}
