.form-control {
  input,
  textarea {
    font-family: var(--fontFamily);
    background-color: transparent;
    border: none;

    &:focus {
      background-color: #5b5b5b4f;
    }
  }
}

.edit-panel {
  text-align: left;

  .name input {
    font-size: 1.5em;
    padding: 0.5em 0;
    font-weight: bold;
  }

  .id input {
    margin: 0.5em 0;
    font-size: 1em;
    padding: 0.5em 0;
    font-weight: 200;
  }

  .description textarea {
    padding: 1rem 0;
    font-weight: 300;
    font-size: 1.5em;
    color: #ddd;
  }

  .divider {
    height: 2px;
    width: 80%;
    margin-bottom: 0.5rem;
  }

  .requires {
    padding: 0.5rem 2rem;
    background-color: #151515;
    font-style: italic;
    border-radius: 6px;
    margin: 1rem 0;
    margin-top: 2rem;
    width: 100%;
    color: #ff7575;

    .skill {
      font-weight: 400;
    }

    input {
      max-width: 4rem;
      font-size: 1em;
      font-weight: 300;
      color: #ff7575;
      font-weight: bold;
      border: none;
      background-color: transparent;
    }
  }
}

.buttons {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    background: #476dc8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: rgb(198, 163, 255);
    border: 2px solid rgb(198, 163, 255);
    border-radius: 7px;
  }
}

.cost-panel div {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 0.5rem;
  font-size: 1.5em;
  display: flex;
  gap: 0.5rem;
  align-content: center;
  justify-content: center;
  padding: 1rem;

  .level-points {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;

    font-size: 14px;
    font-weight: 600;
    color: var(--panelColor);
    border: none;
    background: transparent;
  }

  button {
    padding: 0;
    background-color: transparent;
  }
}

.select {
  color: #222 !important;
}

.single-value {
  color: #222 !important;
}
