.edit-panel {
  text-align: left;

  .accordions {
    margin: 0 -1.5rem;
  }

  .edit-panel-top {
    font-size: 0.9em;
    margin-left: -1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .name input {
    font-size: 1.5em;
    padding: 0.5em 0;
    font-weight: bold;
  }

  .id input {
    margin: 0.5em 0;
    font-size: 1em;
    padding: 0.5em 0;
    font-weight: 200;
  }

  .node-description {
    width: 100%;

    textarea {
      padding: 1rem 0;
      font-weight: 300;
      font-size: 1.5em;
      color: var(--descriptionColor);
    }
  }

  .colors {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .color-item {
      border-radius: 4px;
      height: 0.5rem;
      display: inline-block;
    }
  }

  .requires {
    padding: 0.5rem 2rem;
    font-style: italic;
    border-radius: 6px;
    margin-top: 2rem;
    width: 100%;
    color: #ff7575;

    .skill {
      font-weight: 400;
    }

    input {
      max-width: 4rem;
      font-size: 1em;
      font-weight: 300;
      color: #ff7575;
      font-weight: bold;
      border: none;
      background-color: transparent;
    }
  }
}

.buttons {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.select {
  color: #222 !important;
}

.single-value {
  color: #222 !important;
}
