.edit-panel {
  text-align: left;

  .name input {
    font-size: 1.5em;
    padding: 0.5em 0;
    font-weight: bold;
  }

  .id input {
    margin: 0.5em 0;
    font-size: 1em;
    padding: 0.5em 0;
    font-weight: 200;
  }

  .description textarea {
    padding: 1rem 0;
    font-weight: 300;
    font-size: 1.5em;
    color: #ddd;
  }

  .colors {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .color-item {
      border-radius: 4px;
      height: 0.5rem;
      display: inline-block;
    }
  }

  .requires {
    padding: 0.5rem 2rem;
    background-color: #151515;
    font-style: italic;
    border-radius: 6px;
    margin: 1rem 0;
    margin-top: 2rem;
    width: 100%;
    color: #ff7575;

    .skill {
      font-weight: 400;
    }

    input {
      max-width: 4rem;
      font-size: 1em;
      font-weight: 300;
      color: #ff7575;
      font-weight: bold;
      border: none;
      background-color: transparent;
    }
  }
}

.buttons {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    background: #476dc8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: rgb(198, 163, 255);
    border: 2px solid rgb(198, 163, 255);
    border-radius: 7px;

    &.green {
      color: var(--successColor);
      border-color: var(--successColor);
    }

    &.red {
      border-color: var(--dangerColor);
      color: var(--dangerColor);
    }
  }
}

.select {
  color: #222 !important;
}

.single-value {
  color: #222 !important;
}
