.smol-button {
  padding: 0.25rem;
  background: transparent;
  display: inline-flex;
  align-self: center;
  gap: 0.25rem;
  align-items: center;

  &.danger {
    color: var(--dangerColor);
  }

  &.info {
    color: var(--infoColor);
  }

  &.theme {
    color: var(--themeColorText);
  }

  &.success {
    color: var(--successColor);
  }

  &.disabled {
    color: var(--disabledColor);
  }
}
