@mixin smolButton($color) {
  color: $color;

  &.outline {
    border: 2px solid $color;
    border-radius: 6px;
  }

  &.emphasized {
    border-radius: 6px;
    padding: 0.5rem 1rem;
    background-color: $color;
    color: var(--panelColor);
    font-weight: 600;
  }
}

.smol-button {
  padding: 0.25rem;
  background: transparent;
  display: inline-flex;
  align-self: center;
  gap: 0.25rem;
  align-items: center;

  &.danger {
    @include smolButton(var(--dangerColor));
  }

  &.info {
    @include smolButton(var(--infoColor));
  }

  &.mutedText {
    @include smolButton(var(--mutedText));
  }

  &.theme {
    @include smolButton(var(--themeColorText));
  }
  
  &.accent {
    @include smolButton(var(--themeAccentColor));
  }

  &.success {
    @include smolButton(var(--successColor));
  }

  &.disabled {
    @include smolButton(var(--disabledBg));
    cursor: default;
  }
}
