.left-menu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 3rem;

  button {
    width: 100%;
    border-radius: 0 0 6px 0;
    padding: 0.5em 0.75em;
    background: transparent;

    &.selected {
      background-color: var(--themeColor);
    }
  }
}
