.sidebar-left {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40rem;
  height: 100vh;
  background: transparent;
  color: #fff;
  display: flex;
  backdrop-filter: blur(2px);

  background-color: rgba(26, 26, 28, 0.93);
  box-shadow: -2px -2px 11px 0px rgb(0 0 0 / 19%);
  border-radius: 0 0 6px 0;
  border: 1px solid #1c1c1c;

  @media only screen and (max-width: 600px) {
    height: auto;
    background: transparent;
  }

  .sidebar-left-panel {
    overflow-y: auto;
    padding: 2rem;
    padding-left: 4rem;
    padding-top: 2rem;
    z-index: 1;
    margin-left: -3rem;
    position: relative;

    overflow-y: auto;
    background-color: rgb(8 8 8 / 88%);
    @media only screen and (min-width: 600px) {
      min-width: 24rem;
    }

    @media only screen and (max-width: 600px) {
      width: 100vw;
      max-height: 40vh;

      overflow-y: auto;

      border-bottom: 2px solid #363636;
    }
  }
}
