.canvases {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: auto;
  max-height: 100vh;
  padding: 1rem;
  gap: 1rem;
  font-family: "Bahnschrift";
}

body {
  place-items: flex-start;
}

.options {
  font-family: "NotoSerif";
  background-color: var(--panelColor2);
  padding: 1rem 2rem;
  display: flex;
  gap: 1.5rem;
}

.card-type-select {
  width: 10rem;
  font-family: "Garamond";
}
