.stat-tag {
  font-size: 14px;
  padding: 0.1rem 0.6rem;
  padding-bottom: 0.25rem;
  background: #080808;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  border: 0.5px solid #272727;
}
