.stat-tag {
  font-size: 14px;
  padding: 0.1rem 0.6rem;
  padding-bottom: 0.25rem;
  background: #202020;
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  border: 0.5px solid #272727;

  svg {
    margin-left: 0.5em;
  }
}
