.unit-card {
  min-width: 6rem;
  min-height: 4rem;

  text-align: left;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: var(--cardBg);
  border: var(--cardBorder);
  box-shadow: var(--cardShadow);
  border-radius: 7px;
  &.selectable {
    cursor: pointer;
  }

  &:hover,
  &.selected {
    border-color: var(--themeAccentColor);
  }

  &.selected {
    outline: 2px solid var(--themeAccentColor);
  }

  transition: border-color 0.25s ease-in-out;

  .unit-card-row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    .unit-select {
      min-width: 10rem;
      flex: 2;
    }
  }

  .form-control {
    font-size: 1.2em;
    flex: 2;
    border-bottom: 1px solid var(--mutedText);
  }

  .unit-card-name {
    font-size: 1.2em;
  }

  &.selected .unit-card-name {
    color: var(--themeAccentColor);
  }
}
