.units-panel {
    .unit-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .sort-panel {
        padding: 0.5rem;
        display: flex;
        color: var(--infoColor);
        font-weight: 300;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.5rem;

        > div {
            display: flex;
            align-items: center;
        }
    }
}