.info-panel {
  .cost {
    padding-right: 1rem;
  }

  .title {
    font-size: 24px;
    padding: 1rem 0;
    font-weight: bold;
  }

  .divider {
    height: 2px;
    width: 80%;
    margin-bottom: 0.5rem;
  }

  .abilities {
    .title {
      font-size: 18px;
    }
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
