.info-panel {
  text-align: left;
  .cost {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.5rem;
    font-size: 1.5em;
  }

  .title {
    font-size: 1.5em;
    padding: 0.5em 0;
    font-weight: bold;
  }

  .description {
    padding: 1rem 0;
    font-style: italic;
  }
  .divider {
    height: 2px;
    width: 80%;
    margin-bottom: 0.5rem;
  }

  .abilities {
    .title {
      font-size: 18px;
    }
    display: flex;
    gap: 1em;
    flex-direction: column;
  }

  @media only screen and (max-width: 800px) {
    font-size: 0.75rem;
  }
}
