.info-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.185);
  overflow: auto;
  text-align: left;

  .cost {
    padding-right: 1rem;
  }

  .title {
    font-size: 24px;
    padding: 1rem 0;
    font-weight: bold;
  }

  .divider {
    height: 2px;
    width: 80%;
    margin-bottom: 0.5rem;
  }

  .abilities {
    .title {
      font-size: 18px;
    }
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
