.abilities-panel {
  margin-top: 4rem;

  .abilities-title {
    font-weight: 300;
    font-size: 1.5em;
  }

  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .stat-edit-line {
    background: #151515;
    border-radius: 8px;
    padding: 1rem;

    .ability-select {
      display: flex;
      margin-bottom: 1rem;
      > div {
        flex: 1;
        margin-left: 1rem;
      }
      button {
        color: var(--dangerColor);
        background: transparent;
        padding: 0.25rem;
      }
    }

    .ability-options {
      color: #eee;

      .ability-card {
        margin-top: 1rem;
        max-width: 100%;
      }

      .grant {
        label,
        input {
          cursor: pointer;
        }
        font-size: 1.5em;
        align-items: center;
        display: flex;
        padding: 0.5rem 0;
        margin-top: 1rem;
      }
    }

    width: 100%;
    color: #222;
  }

  .add-button {
    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--themeColor);
      border-radius: 8px;
      width: 100%;
    }
  }
}
