.point-counter {
  color: #bdbdbd;
  z-index: 2;
  font-size: 1.2em;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  align-self: flex-end;
  user-select: none;
  
  @media only screen and (max-width: 800px) {
    position: absolute;
    bottom: 0;
  }
}
