.node-tooltip {
  font-size: 12px;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  background: #ddd;
  color: #222;

  padding: 0.5rem;

  transition: opacity 0.3s;

  max-width: 20rem;
}

.description {
}
