.stats-panel {
  background: var(--panelColor);
  padding: 0.5rem;
  border-radius: 8px;

  .stats-title {
    font-weight: 300;
    font-size: 1.5em;
  }

  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .stat-edit-line {
    background: var(--panelColor2);
    border-radius: 8px;
    padding: 1rem;

    button {
      background: transparent;
      padding: 0.25rem;

      &.remove {
        color: var(--dangerColor);
      }
    }
    > div {
      width: 12rem;
    }

    input {
      font-size: 1em;
      font-weight: bold;
      width: 4rem;
      background-color: var(--panelColor);
      border: none;
    }
    color: #222;
    display: flex;
    justify-content: space-between;
  }
}
