.ability-editor {
  .ability-cards {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-auto-columns: minmax(auto, 1fr) 3fr;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

    @media only screen and (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .new-button button {
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    font-size: 1rem;
    gap: 2rem;
    display: flex;
    max-width: 20rem;
    text-align: left;
    background: #0e0e0f;
    color: white;
    padding: 0 1rem;
    border-radius: 7px;
    box-shadow: inset 1px 2px 20px 0px rgba(11, 11, 11, 0.7);
    border: 0.5px solid #202020;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    color: #aaa;

    &:hover {
      color: #fff;
    }
  }
}
