.app-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 4rem;
    border-left: var(--panelBorder);
    z-index: 2;
    box-shadow: -2px -2px 2px 2px rgba(0, 0, 0, 0.021);
    background-color: var(--panelColor);
  
    @media only screen and (max-width: 800px) {
      justify-content: flex-end;
      border-top: var(--panelBorder);
  
      border-radius: 7px 0 0 0;
    }
  
    button {
      width: 100%;
      background-color: transparent;
      padding: 0.5rem 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &.selected {
        background-color: var(--themeColor);
      }
    }
  
    hr {
      color: var(--mutedText);
      margin: 0;
      width: 60%;
      text-align: center;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  
    .colorpicker {
      height: 2rem;
      width: 2rem;
    }
  }
  