.horizontal-slider {
  position: relative;
  width: 100%;
  height: 6px;
  display: flex;
  align-items: center;
  border: 1px solid #919191;
  border-radius: 2px;
}

.thumb {
  position: relative;
  padding: 0.4rem;
  height: 24px;
  display: flex;
  align-items: center;
  background: #919191;
  border: 1px solid #919191;
  border-radius: 2px;
  cursor: pointer;
  color: var(--panelColor);
}

.track {
  height: 6px;

  &.track-0 {
    background: #919191;
  }
}

.slider {
    padding: 2rem;
}