.right-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 4rem;
  border-left: var(--panelBorder);
  z-index: 2;
  box-shadow: -2px -2px 2px 2px rgba(0, 0, 0, 0.021);

  @media only screen and (max-width: 800px) {
    justify-content: flex-end;
    border-top: var(--panelBorder);

    border-radius: 7px 0 0 0;
  }

  button {
    background-color: transparent;
  }
}
