.right-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 4rem;

  @media only screen and (max-width: 800px) {
    justify-content: flex-end;
  }

  button {
    background-color: transparent;
  }
}
