.sidebar-right {
  scrollbar-width: thin;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  color: var(--textColor);
  // max-width: 60rem;
  z-index: 2;

  display: flex;
  box-shadow: -2px -2px 11px 4px rgba(0, 0, 0, 0.55);
  border-left: var(--panelBorder);
  background-color: var(--panelColor2);

  @media only screen and (max-width: 800px) {
    bottom: 0;
    top: unset;
    height: auto;

    &.expanded {
      .right-menu {
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto;
        top: unset;
      }
    }
  }

  .sidebar-right-panel {
    overflow-y: auto;
    background-color: var(--panelColor);
    padding-top: 0;

    @media only screen and (min-width: 800px) {
      width: 28rem;

      &.full {
        width: calc(100vw - 4rem);
      }

      &.full.minus-right {
        width: calc(100vw - 34rem);
      }
    }

    @media only screen and (max-width: 800px) {
      width: 100vw;
      // margin-right: -4rem;
      height: 100vh;
      overflow-y: auto;
    }

    @media only screen and (min-width: 2000px) {
      min-width: 48rem;
      
      &.full {
        width: calc(100vw - 7rem);
      }

      &.full.minus-right {
        width: calc(100vw - 34rem);
      }
    }

    .sidebar-right-panel-heading {
      user-select: none;
      cursor: pointer;
      font-weight: 300;
      display: flex;
      gap: 2rem;
      font-size: 1.6rem;
      color: #fff;

      button {
        color: #fff;
      }

      background-color: var(--themeColor);

      &:hover {
        background-color: var(--themeColorMod);
      }

      .expander {
        background-color: var(--themeColorMod);
        padding: 0.25rem 0.5rem;
        cursor: pointer;
      }

      @media only screen and (max-width: 800px) {
        .expander {
          display: none;
        }

        align-items: center;
        padding-left: 1rem;
      }
    }
  }
}
