.sidebar-right {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  max-width: 60rem;
  color: #fff;
  z-index: 2;

  display: flex;
  background-color: rgb(26 26 28 / 97%);
  box-shadow: -2px -2px 11px 0px #00000030;
  border-left: 1px solid #1c1c1c;

  @media only screen and (max-width: 600px) {
    background: transparent;
    bottom: 0;
    top: unset;
    height: auto;

    &.expanded {
      .right-menu {
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto;
        top: unset;
      }
    }
  }

  .sidebar-right-panel {
    background-color: rgb(8 8 8 / 88%);

    overflow-y: auto;
    padding: 1rem;
    @media only screen and (min-width: 600px) {
      min-width: 24rem;
    }

    @media only screen and (max-width: 600px) {
      width: 100vw;
      // margin-right: -4rem;
      height: 100vh;
      overflow-y: auto;
    }
  }
}
