

:root {
  --fontFamily: font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --themeColor: #3bac99;
  --themeColorMod: #2f808f;
  --themeColorText: #a4dbe2;
  --themeAccentColor: #e49a68;
  --panelColor: #1b1b1d;
  --panelColor2: #2e2e34;
  --panelColor3: #25262c;
  --panelBorder: 1px solid #292929;
  --successColor: #33815d;
  --successColorMuted: #297e56;
  --dangerColor: #f1604d;
  --dangerColorMuted: #88382e;
  --descriptionColor: #d5cec6;
  --infoColor: #dbceaa;
  --mutedText: #7a7a7a;
  --supermutedText: #5c5c5c60;
  --boxShadowBlackSmall: 1px 2px 5px 0px rgba(11, 11, 11, 0.226);
  --boxShadowInsetBlackSmall: inset 1px 2px 5px 0px rgba(11, 11, 11, 0.7);
  --disabledText: #4d4d4d;
  --disabledBg: #7a7a7a;
  --textColor: #ddd;
  --cardBorder: 0.5px solid #505050;

  --cardBg: linear-gradient(45deg, #39393c 0%, #292930 100%),
  radial-gradient(at top center, #46464680 0%, rgba(0, 0, 0, 0.4) 120%)
    #989898;
    --textColorMuted: #ddd;
    --cardShadow: 1px 2px 20px 0px rgba(11, 11, 11, 0.7);
    --containerShadow: linear-gradient(45deg, #1b1b1c 0%, #1a1a1c 100%),
    radial-gradient(
        at top center,
        rgb(76 76 76 / 49%) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
}

.light {
  --themeColorText: #5457b4;

  --descriptionColor: #33474b;
  --textColor: #222;
  --panelColor: rgb(229, 229, 235);
  --panelColor2: #c3c5ce;
  --panelColor3: #d2d4db;
  --infoColor: #676864;
  --panelBorder: #222;
  --successColor: #0c8365;
  --dangerColor: #9b1d0c;
  --cardBg: linear-gradient(45deg, #998ddd69 0%, #dcdce95e 100%), radial-gradient(at top center, #b8a7a71f 0%, rgb(116 189 152 / 27%) 120%) #ffffff;
  --textColorMuted: #4b505c;
  --cardShadow: 1px 2px 20px 0px rgba(70, 70, 70, 0.4);
  --cardBorder: none;
  --mutedText: #686868;
  --supermutedText: #14141460;
  --containerShadow: linear-gradient(45deg, #8b96bb50 20%, #e5e5f344 120%),
  radial-gradient(
      at top center,
      rgba(253, 253, 253, 0.49) 20%,
      rgba(231, 231, 231, 0.048) 120%
    )
    #f3f3f3;
    --panelColor3: #9b929267;
}


.dark, .light {
  color: var(--textColor);
}

#root {
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;

  canvas {
    display: block;
  }
}

.skill-panel {
  position: absolute;
  top: 0;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, 0.5);
  border-radius: 20px;
  border: transparent;
}

.App {
  display: flex;
  z-index: 2;

  .appLeft,
  .appRight {
    display: flex;
    z-index: 2;
  }
}

.overlay {
  width: 100vw;
  height: 20rem;
  z-index: 1;
  position: absolute;
  bottom: 0;
  mix-blend-mode: color-dodge;
  opacity: 0.3;
  background-size: auto;
  background-repeat: repeat-x;
  background-position-y: bottom;
  pointer-events: none;
}

.form-control {
  input,
  textarea {
    font-family: var(--fontFamily);
    background-color: transparent;
    border: none;
    color: inherit;

    &:focus {
      outline: 1px solid var(--supermutedText);
      background-color: rgba(13, 13, 13, 0.31);
      box-shadow: var(--boxShadowInsetBlackSmall);
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.padding-sm {
  padding: 0.5rem;
}

.padding-sm-vertical {
  padding: 0.5rem 0;
}

.padding-md {
  padding: 1rem;
}

.padding-md-vertical {
  padding: 1rem 0;
}

.bold {
  font-weight: 700;
}

.book {
  font-weight: 300;
}

.text-info {
  color: var(--infoColor);
}

.help {
  background-color: var(--panelColor2);
}

.checkbox {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}