:root {
  --fontFamily: font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --themeColor: #535bf2;
  --themeColorMod: #4148db;
  --themeColorText: #898ff5;
  --panelColor: rgba(26, 26, 28);
  --panelColor2: #2e2e34;
  --panelBorder: 1px solid #292929;
  --successColor: #53d699;
  --dangerColor: #f1604d;
  --infoColor: #c2b080;
  --mutedWhite: #bbb;
  --superMutedWhite: #5c5c5c60;
  --boxShadowBlackSmall: 1px 2px 5px 0px rgba(11, 11, 11, 0.226);
  --boxShadowInsetBlackSmall: inset 1px 2px 5px 0px rgba(11, 11, 11, 0.7);
  --disabledText: #222;
  --disabledBg: #7a7a7a;
}

#root {
  color: #222;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;

  canvas {
    display: block;
  }
}

.skill-panel {
  position: absolute;
  top: 0;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, 0.5);
  border-radius: 20px;
  border: transparent;
}

.App {
  display: flex;
  z-index: 2;

  .appLeft,
  .appRight {
    display: flex;
    z-index: 2;
  }
}

.overlay {
  width: 100vw;
  height: 20rem;
  z-index: 1;
  position: absolute;
  bottom: 0;
  mix-blend-mode: color-dodge;
  opacity: 0.3;
  background-size: auto;
  background-repeat: repeat-x;
  background-position-y: bottom;
  pointer-events: none;
}

.form-control {
  input,
  textarea {
    font-family: var(--fontFamily);
    background-color: transparent;
    border: none;

    &:focus {
      outline: 1px solid var(--superMutedWhite);
      background-color: rgba(13, 13, 13, 0.31);
      box-shadow: var(--boxShadowInsetBlackSmall);
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.padding-sm {
  padding: 0.5rem;
}

.padding-md {
  padding: 1rem;
}