.tears {
  --i1: rgb(193, 212, 175);
  --i2: rgb(211, 204, 112);
  --i3: rgb(216, 145, 52);
  --i4: rgb(214, 78, 25);
  --i5: rgb(190, 18, 41);

  width: 100vw;
  max-width: 600px;
  height: 100vh;
  text-align: left;
  padding: 1rem;
  padding-bottom: 10rem;
  overflow: auto;

  .label {
    font-family: "NotoSerif";
  }

  .lg-button {
    background-color: transparent;
  }
}

.entries {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}


.section {
  margin-top: 2rem;
}

.home {
  margin-top: 2rem;
}

.new {
  width: 100%;
  text-align: center;
}

.addButton {
  background: transparent;
}

.past {
  margin-top: 4rem;
}

.stats {
  margin-top: 2rem;
}

.done {
  margin-top: 4rem;
  width: 100%;
  text-align: center;
}

.vers {
  margin-top: 10rem;
}
