.code-panel {
  input[type="file"] {
    font-size: 16px;
    border: 1px solid var(--mutedText);
    padding: 0.25rem;
    border-radius: 6px;
    background-color: var(--panelColor2);
    max-width: 100%;
  }
  input::file-selector-button {
    margin-right: 1rem;
    background-color: var(--textColor);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: var(--panelColor);
  }
  .section {
    // padding: 1rem 1rem;
    // padding-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    background-color: var(--panelColor2);
  }

  .uploader,
  .downloader {
    max-width: 30rem;
    // box-shadow: 1px 2px 2px black;
    // border-radius: 4px;
    background-color: var(--panelColor2);
    padding: 1rem;
    padding-top: 0.5rem;
    border-bottom: 2px solid var(--supermutedText);
    text-align: left;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .title {
      .icon {
        &.success {
          color: var(--successColor);
        }

        &.theme {
          color: var(--themeColor);
        }
        border-radius: 14px;
        width: 5.5rem;
        height: 2rem;
        display: flex;
        line-height: 1.5rem;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        background-color: var(--panelColo2);
        box-shadow: var(--boxShadowInsetBlackSmall);
        color: var(--themeAccentColor);
        border: 1px solid var(--supermutedText);
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 24px;
      color: var(--textColor);
      font-weight: 600;
      // margin-bottom: 1rem;
    }

    .data-row {
      padding: 0.75rem 1rem;
      border-radius: 6px;
      background-color: var(--panelColor3);
      margin: 0.5rem 0;
      display: flex;
      justify-content: space-between;
    }

    .description {
      text-align: left;
      font-size: 12px;
      margin-bottom: 1rem;
      color: var(--infoColor);
    }

    .info {
      font-size: 12px;
      color: var(--infoColor);
    }

    > div {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      flex-wrap: wrap;
    }

    input[type="text"] {
      border: 1px solid var(--mutedText);
      background: var(--panelColor2);
    }

    button {
      margin-left: auto;
    }

    .card-footer {
      width: 100%;
      padding-top: 1.5rem;
    }
  }

  .reset {
    padding: 2rem;
    display: flex;
    gap: 2rem;
  }
  .version {
    display: flex;
    gap: 1rem;
    > span {
      color: var(--mutedText);
      padding: 1rem;
      background: var(--panelColor2);
      border-radius: 7px;
    }

    .version-number {
      color: var(--textColor);
      font-weight: 700;

      &.success {
        color: var(--successColor);
      }
      &.outdated {
        color: var(--dangerColor);
      }
    }
    text-align: left;
    margin-left: 2rem;
  }
}
